<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>About us</title>
</head>
<body>
    <body>
        <h1 style ="text-align: center;">About Us</h1>
        <div id="PHOTOCREW">
            <img id=mickie src="images/greatmickie.jpg"  />
        
        </div>
        
        <br>  
        <div id = "aboutus">
            <p>We are เชฟมิกกี้ team, lead by the one and only prince Mickie the 3rd</p>
            <p>Our team includes 5 junior engineering student and 1 senior engineering student as listed</p>
            <p>Athip Phunruangsakao</p>
            <p>Wivit Lopansri</p>
            <p>Chanuntorn Jombunud na ayudhaya</p>
            <p>Chayut Wisawabumrungchai</p>
            <p>Tanthong Nimnuankul</p>
            <p>Chaba Jumsai na ayudhya</p>
            <p>We are so proudly to present to you our IQ180 game</p>
            <p>May the wittest wins and don't forget to enjoy the game!!</p>
            <button onclick="window.location.href='/'">Back</button>
        </div>
        <br>
        
    </body>
    
</body>
</html>