<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>IQ180</title>
</head>


<body>
    <div>
        <button id = "btn-1">1</button>
        <button id = "btn-2">2</button>
        <button id = "btn-3">3</button>
        <script src="scriptforbackgroundchange.js"></script>
    </div>
    <div class="musicBTN">
        <audio id="music" loop>
            <source src="sounds/solve-the-riddle.mp3" type="audio/mpeg">
        </audio>
        <button id="playMusicBTN" onclick="playMusic()"><i class="fa-solid fa-volume-high"></i></button>
        <button id="playMusicBTN"><i class="fa-solid fa-volume-xmark"></i></button>
    </div>
    <div id="lobby">
        <h1>IQ180</h1>
        <div>
            <p class="enterName">Enter your Name </p>
            <input type="text" placeholder="Name" id="name" autocomplete="off">
        </div>
        <div>
            <button id="find" onclick="playSearchBTN()">Search for a player</button>
            <script src="soundEffect.js"></script>
        </div>
        <img src="giphy.gif" id="loading" alt="">
    </div>

    <div id="game" >
        <br>
        <div class= "status" >
            <h2 id="user1Cont">P1 : <span id="user1Name"></span></h2>
            <h2 >Time: <span id="timer">60</span></h2>
            <h2 id="user2Cont">P2 : <span id="user2Name"></span></h2>
        </div>
        <div class="status">
            <h3 id="score1Cont">Score : <span id="score1"></span></h3>
            <h3 id ="turn"></h3>
            <h3 id="score2Cont">Score : <span id="score2"></span></h3>
        </div>
    
        
        <div id="com">
            <div id="Qnum">
                <div>
                    <button id="Q1" class="Q"></button>
                    <button id="Q2" class="Q"></button>
                    <button id="Q3" class="Q"></button>
                    <button id="Q4" class="Q"></button>
                    <button id="Q5" class="Q"></button>
                </div>
            </div>
            <br>
            <div style= "display: flex; align-items: center; justify-content: center;">
                <div id="bor">
                    <p id="sol"></p>
                </div>
                <p>&ensp;=&ensp;<span id = "answer"></span></p>
            </div>
            <br>
            <div id="operators" >
                <div>
                    <button id="O1" class="O">+</button>
                    <button id="O2" class="O">-</button>
                    <button id="O3" class="O">*</button>
                    <button id="O4" class="O">/</button>
                    <br>
                    <button id="O5" class="O">(</button>
                    <button id="O6" class="O">)</button>
                    <button id="back">UNDO</button>

                </div>
            </div>
            <br>
            <br>
            <div style = "display: grid; place-items: center; grid-template-columns: 1fr 1fr 1fr 1fr;">
                <p></p>
                <button id="start" >START</button>
                <button id="submit" >SUBMIT</button>
                <p></p>
    
                
            </div>
        </div>
  
        <div id = "GO" >
            <h1 id="winner" style="text-align: center;"></h1>
            <button id = "bh" >Back to first page</button>
        </div>
        
    </div>
    <div id="message-container"></div>
            <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id = "send-button">Send</button>

<script src="/main.js"></script>
<script src="/chat.js"></script>
<script>  

    
   
</script>
    
</body>
</html>