<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Rules</title>
</head>
<body>
    <body>
        <h1 style ="text-align: center;">How to Play</h1>
        <div id = "rules">
            <p>Each turn players would receive random sets of 5 question numbers and answer</p>
            <p>Player must use all of the question numbers to compute answer</p>
            <p>Player who find correct solution will get a point</p>
            <p>If player answer correctly, player that have more remaining time will get a point</p>
            <p>First player whos get 3 point win!!</p>
            <button onclick="window.location.href='/'">Back</button>
        </div>
        <br>

    </body>
    
</body>
</html>